{
  "HTMLWhitespaceSensitivity": "strict",
  "JsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "all",
  "singleattribute": true,
  "useTabs": true,
  "vueIndentScriptAndStyle": true
}
